
footer{
    background-color: rgba(26, 26, 26, 0.767);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding-bottom: 25px;
}

footer a{
    cursor: default;
}

.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contato{
    text-align: center;
    margin-right: 15px;
    width: 100%;
    height: 20px;
    font-size: 1.5em;
}

@media (max-width: 536px){
    footer{
        height: 110px;
        padding-bottom: 50px;
    }
}
