header{
    width: 100%;
    padding: 15px 25%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    transition: .5s;
}
.flexflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header i{
    font-size: 30px;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 25px;
}

header ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #ffcc02;
    position: relative;
}

nav a::after{
    content: " ";
    width: 0%;
    height: 1px;
    background-color: #ffcc02;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

.container-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #FFDE59;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

header.header-cor{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #FFDE59;
    backdrop-filter: blur(10px);
}
.text_header-home, .text_header-sobre , .text_header-hab, .text_header-port{
    color: white;
}

.text_header-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
    transition: .3s;
    color: #FFDE59;
}
