@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: black;
}

@media (max-width: 600px){
    .work{
        width: 250px;
        height: 250px;
        display: block;
        opacity: 0;
        transition: all 1.5s;
    }
    #home, #about{
        font-size: 34px;
    }
    .sobre{
        font-size: 25px;
    }
}

::-webkit-scrollbar{
    width: 3px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #FFDE59;
}


.mainn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
    font-size: 4em;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0%);
}

.pb{
    
    color: white;
}


.sobre{
    font-size: 40px;
    margin: 30px;
}

.front{
    color: #FFDE59; 
    font-size: 0.5em;
}

/* Davy Animado */
.davy-efeito{
    font-size: 100px;
    background: linear-gradient(45deg,#f6d76b, #ff9036, #d6254d, #ff5475, #fdeba9);
    background-size: 400% 100%;
    animation: animacao-degrade-davy 15s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes animacao-degrade-davy {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 400%;
    }
}

/* -------------- */

.comigo{
    font-size: 50px;
    background: linear-gradient(45deg,#f6d76b, #ff9036, #d6254d, #ff5475, #fdeba9);
    background-size: 400% 100%;
    animation: animacao-degrade-davy 15s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-falecomigo{
    margin-top: 200px;
    width: 100%;
    padding: 80px 4%;
    display: flex;
}

/*  Form - Fale comigo  */
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

form input, form textarea{
    width: 100%;
    background-color: #2c2c2cda;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
}

form input::placeholder, form textarea::placeholder{
    font-weight: 700;
}

form textarea{
    resize: none;
    min-height: 200px;
}

form .btnc-enviar{
    margin-top: 15px;
}

form .btnc-enviar input{
    width: 115px;
    background-color: #ff8623a8;
    cursor: pointer;
    transition: .15s;
    margin-bottom: 100px;
}

form .btnc-enviar input:hover{
    background-color: #ff862386;
    transform: scale(1.05);
}