@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: black;
}

@media (max-width: 600px){
    .work{
        width: 250px;
        height: 250px;
        display: block;
        opacity: 0;
        transition: all 1.5s;
    }
    #home, #about{
        font-size: 34px;
    }
    .sobre{
        font-size: 25px;
    }
}

::-webkit-scrollbar{
    width: 3px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #FFDE59;
}


.mainn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 105vh;
    font-size: 4em;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0%);
}

.pb{
    background: white;
    color: black;
}


.sobre{
    font-size: 40px;
    margin: 30px;
}

.front{
    color: #FFDE59; 
    font-size: 0.5em;
}

/* Davy Animado */
.davy-efeito{
    font-size: 100px;
    background: linear-gradient(45deg,#f6d76b, #ff9036, #d6254d, #ff5475, #fdeba9);
    background-size: 400% 100%;
    animation: animacao-degrade-davy 15s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes animacao-degrade-davy {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 400%;
    }
}

/* -------------- */