@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    cursor: none;
}

@media (max-width: 600px){
    .work{
        border: 1px solid blue;
        width: 250px;
        height: 250px;
        display: block;
        opacity: 0;
        transition: all 1.5s;
    }
    #home, #about{
        font-size: 34px;
    }
    .sobre{
        font-size: 25px;
    }
}

::-webkit-scrollbar{
    width: 3px;
    background-color: transparent;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(174, 0, 255, 100%);
}

.pb{
    background-color: white;
    color: black;
}
.mainn{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 105vh;
    font-size: 3em;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0%);
}

.sobre{
    font-size: 40px;
    margin: 30px;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tipo-work{
    text-align: center;
}

.work{
    width: 200px;
    height: 200px;
    opacity: 0;
    margin: 40px;
    display: inline-block;
    font-size: 50px;
    transform: translateZ(-100%);
}

.workv{
    opacity: 1;
    transform: translateZ(0%);
    transition: all 2.5s;
}

.work:hover{
    transform: scale(1.09);
    transition: 1.7s;
}

.work img{
    width: 200px;
    height: 200px;
    border-radius: 30%;
}

.link{
    text-decoration: none;
}