
.flex{
    display: flex;
    justify-content: center;
}

.tipo-work{
    text-align: center;
}

.work{
    width: 200px;
    height: 200px;
    opacity: 0;
    margin: 40px;
    display: inline-block;
    font-size: 50px;
}

.workv{
    opacity: 1;
    transition: all 2.5s;
}

.work:hover{
    transform: scale(1.09);
    transition: 1.7s;
}

.work img{
    width: 200px;
    height: 200px;
    border-radius: 30%;
}