
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tipo-work{
    text-align: center;
}

.work{
    width: 200px;
    height: 200px;
    opacity: 0;
    margin: 40px;
    display: inline-block;
    font-size: 50px;
}

.workv{
    opacity: 1;
    transition: all 1s;
}

.work:hover{
    transform: scale(1.09);
    transition: 0.6s;
}

.work img{
    transition: 1s;
}

.work:hover img{
    transform: rotate(360deg);
    transition: 2s;
}

.work img{
    width: 200px;
    height: 200px;
    border-radius: 30%;
}


